<div class="py-4">
  <h2 class="text-center my-4 fw-bold ">Top Jewelerys</h2>
  <div class="d-flex flex-wrap justify-content-center gap-3">
  @for (product of filteredProducts; track $index) {
    <app-product [product]="product">
      <p class="">Rating: {{product.rating.rate}}</p>
    </app-product>

  }
  </div>
</div>
@defer (on viewport){
  <div class="py-4">
    <h2 class="text-center my-4 fw-bold ">All Products</h2>
    <div class="d-flex flex-wrap justify-content-center gap-3">
      @for (product of products; track $index) {
        <app-product [product]="product"></app-product>

      }
  </div>
</div>
}
@placeholder {
  <p>Loading products...</p>
}